* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  min-height: 5vh;
  width: 100vw;
}

.gameboards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 95vh;
  gap: 100px;
}

.cells,
.computer {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 5px;
}

.cell {
  width: auto;
  height: auto;
  background-color: cyan;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
}

.invisible{
  display: none;
  transition: all 2s linear;
}