@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Cormorant SC', serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  min-height: 5vh;
  width: 100vw;
}

.gameboards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 95vh;
  gap: 100px;
}

.cells,
.computer {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 5px;
  transition: 2s all linear;
}

.computer {
  display: none;
  transition: visibility 0s, opacity 0.5s linear;
  visibility: hidden;
  opacity: 0;
}

.computer-visible {
  display: grid;
  visibility: visible;
  opacity: 1;
}

.cell {
  width: auto;
  height: auto;
  background-color: cyan;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.start, .shuffle{
  font-size: 2rem;
  user-select: none;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.menu-invisible{
  display: none;
}
